<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="UTF-8"> 
    {%if c == 1 %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css1.css') }}"> 

    {% endif %}
    {%if c == 2 %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css2.css') }}"> 

    {% endif %}
    {%if c == 3 %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css3.css') }}"> 

    {% endif %}
    <title>Викторина</title> 
</head> 
<body> 
    
    
    <form method="post" action="/test"> 
        <fieldset>
            <legend>{{question}}</legend>
        <input type="hidden" name="q_id" value="{{ quest_id }}"> 

        <div class="div1">
        {% for answer in answers_list %} 
        <div class="form_radio_btn">

            <input id="radio{{loop.index}}" type="radio" name="ans_text" value="{{ answer }}"> <label for="radio{{loop.index}}"> {{ answer }}</label>
            
            </div>
        {% endfor %}  
        </div>
        <button type="submit", name = "quiz">Отправить</button>
        <fieldset>
    </form> 


</body> 
</html>
